services:
  pullr:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        BRANCH: ${BRANCH:-main}
        COMMIT: ${COMMIT:-unknown}
        MEDIA_UID: ${MEDIA_UID:-1000}
        MEDIA_GID: ${MEDIA_GID:-1000}
    image: pullr:${BRANCH:-main}
    container_name: pullr_${BRANCH:-main}
    user: "${MEDIA_UID:-1000}:${MEDIA_GID:-1000}"
    environment:
      - TZ=Australia/Brisbane
      - BRANCH=${BRANCH:-main}
      - COMMIT=${COMMIT:-unknown}
    ports:
      - "8080:8080"
    volumes:
      - /mnt/bilby/downloads:/downloads
      - /mnt/dugong/media:/media
      - ./config:/config
      - ./app/logs:/logs
    restart: unless-stopped